
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === typography ====== */ 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');


h1, h2, h3, h4, h5, h6, p, li, td, th, blockquote, label, input, textarea, select, span {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}